<!-- Initialize UI -->
<script type="text/javascript">
    RED.nodes.registerType('zerotier-one',{
        category: 'config',
        color: '#2475d9',
        defaults: {
            name: { value:"" },
            domain: { value: "my.zerotier.com", required: true }
        },
        inputs: 1,
        outputs: 1,
        icon: "file.png",
        label: function() {
            return this.name||"zerotier-one";
        }
    });
</script>

<!-- Configuration UI -->
<script type="text/html" data-template-name="zerotier-one">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>

    <div class="form-row">
        <label for="node-input-domain"><i class="fa fa-tag"></i> Domain</label>
        <input type="text" id="node-input-domain" placeholder="my.zerotier.com">
    </div>

    <div class="form-row">
        <label for="node-input-apiKey"><i class="fa fa-tag"></i> API Key</label>
        <input type="text" id="node-input-apiKey" placeholder="API Key">
    </div>
</script>

<!-- Documentation -->
<script type="text/html" data-help-name="zerotier-one">
    <p>This node enables the ZeroTier One integration.</p>
</script>